In [1]:
import pandas as pd

In [2]:
eyeclolor = ['br','bl','br','br','br','bl','br','br','br','br','bl','bl']

In [3]:
married = ['Y','Y','Y','N','N','N','N','N','Y','N','N','N']

In [4]:
sex = ['M','M','M','F','F','M','F','M','F','F','M','M']

In [5]:
hair_length = ['L','S','L','L','L','L','L','S','S','L','L','S']

In [6]:
CLASS = ['F','F','F','N','N','F','N','F','N','N','F','F']

In [7]:
DICT = {'eyeclolor':eyeclolor,'married':married,'sex':sex,'hair_length':hair_length,'CLASS':CLASS}

In [8]:
df = pd.DataFrame(DICT)

In [9]:
df

   eyeclolor married sex hair_length CLASS
0         br       Y   M           L     F
1         bl       Y   M           S     F
2         br       Y   M           L     F
3         br       N   F           L     N
4         br       N   F           L     N
5         bl       N   M           L     F
6         br       N   F           L     N
7         br       N   M           S     F
8         br       Y   F           S     N
9         br       N   F           L     N
10        bl       N   M           L     F
11        bl       N   M           S     F

In [10]:
i=0
for attribute in df.columns.tolist()[:-1]:
    if i==0:
        freq_table=pd.crosstab(index=df["CLASS"],columns=df[attribute])
    else:
        freq_table_ = pd.crosstab(index=df["CLASS"],columns=df[attribute])
        freq_table = pd.concat([freq_table,freq_table_],axis=1) 
    i+=1

In [11]:
freq_table

       bl  br  N  Y  F  M  L  S
CLASS
F       4   3  4  3  0  7  4  3
N       0   5  4  1  5  0  4  1

In [12]:
import numpy as np

# calculate entropy

## cal E start

In [13]:
E = 0
N = df['CLASS'].value_counts().sum()
for i in range(0,len(df['CLASS'].value_counts())):
    Ni = df['CLASS'].value_counts()[i]
    E = E+-(Ni/N)*(np.log2(Ni/N))

In [14]:
df['CLASS'].value_counts()

F    7
N    5
Name: CLASS, dtype: int64

In [15]:
E

0.9798687566511528

## cal E_new

In [16]:
test=pd.crosstab(index=df["CLASS"],columns=df['eyeclolor'])

In [17]:
V = len(test.columns.tolist())

In [18]:
K = len(test.index.tolist())

In [19]:
test.iloc[:,0]

CLASS
F    4
N    0
Name: bl, dtype: int64

In [20]:
E_new_eye = 0
for i in range(0,K):
    Nj = test.iloc[:,i].sum()
    E_new_eye += (Nj/N)*np.log2(Nj)
    for j in range(0,V):
        f_i_j =test.iloc[i][j]
        if f_i_j==0:
            E_new_eye =E_new_eye
        else:
            E_new_eye += (-(f_i_j/N)*np.log2(f_i_j))

In [21]:
E_new_eye

0.63628933528331

In [22]:
E_new = []
for attribute in df.columns.tolist()[:-1]:
    E_new_ = 0
    partial_freq_table = pd.crosstab(index=df["CLASS"],columns=df[attribute])
    for i in range(0,K):
        Nj = partial_freq_table.iloc[:,i].sum()
        print(Nj)
        E_new_ += (Nj/N)*np.log2(Nj)
        for j in range(0,V):
            f_i_j =partial_freq_table.iloc[i][j]
            if f_i_j==0:
                E_new_ =E_new_
            else:
                E_new_ += (-(f_i_j/N)*np.log2(f_i_j))
    E_new.append(E_new_)

4
8
8
4
5
7
8
4

In [23]:
E_new

[0.63628933528331, 0.9370927081530444, 0.0, 0.9370927081530444]

## cal G_new

In [24]:
Gini_new = []
for attribute in df.columns.tolist()[:-1]:
    Gini_new_ = 0
    partial_freq_table = pd.crosstab(index=df["CLASS"],columns=df[attribute])
    for i in range(0,K):
        Nj = partial_freq_table.iloc[:,i].sum()
#         print(partial_freq_table.iloc[:,i].map(lambda x: x**2).sum())
#         print(Nj)
        square_sum = partial_freq_table.iloc[:,i].map(lambda x: x**2).sum()
        Gini_new_ += square_sum/Nj
    Gini_new_ = 1-Gini_new_/N
    Gini_new.append(Gini_new_)

In [25]:
Gini_new

[0.3125, 0.45833333333333337, 0.0, 0.45833333333333337]