# Data is golf from this web
## http://www.maxbramer.org.uk/books/datamining3/data/

In [1]:
import pandas as pd

In [2]:
names_ = ['outlook','temperature','humidity','windy','Play']

In [3]:
data = pd.read_csv("golf.dat",names=names_)

In [4]:
data

     outlook  temperature  humidity  windy        Play
0      sunny           85        85  False  Don't Play
1      sunny           80        90   True  Don't Play
2   overcast           83        78  False        Play
3       rain           70        96  False        Play
4       rain           68        80  False        Play
5       rain           65        70   True  Don't Play
6   overcast           64        65   True        Play
7      sunny           72        95  False  Don't Play
8      sunny           69        70  False        Play
9       rain           75        80  False        Play
10     sunny           75        70   True        Play
11  overcast           72        90   True        Play
12  overcast           81        75  False        Play
13      rain           71        80   True  Don't Play

# Use TDIDT algorithm and entropy selection(Gini index) strategies to build the decision tree.

In [31]:
import numpy as np

In [32]:
E = 0
N = data['Play'].value_counts().sum()
for i in range(0,len(data['Play'].value_counts())):
    Ni = data['Play'].value_counts()[i]
    E = E+-(Ni/N)*(np.log2(Ni/N))

In [33]:
E

0.9402859586706311

In [23]:
df = data[['temperature','Play']]

In [24]:
df['temperature'] = df['temperature'].map(lambda  x : 1 if x>64 else 0)

C:\Users\User\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df

    temperature        Play
0             1  Don't Play
1             1  Don't Play
2             1        Play
3             1        Play
4             1        Play
5             1  Don't Play
6             0        Play
7             1  Don't Play
8             1        Play
9             1        Play
10            1        Play
11            1        Play
12            1        Play
13            1  Don't Play

In [27]:
i=0
for attribute in df.columns.tolist()[:-1]:
    if i==0:
        freq_table=pd.crosstab(index=df["Play"],columns=df[attribute])
    else:
        freq_table_ = pd.crosstab(index=df["Play"],columns=df[attribute])
        freq_table = pd.concat([freq_table,freq_table_],axis=1) 
    i+=1

In [28]:
freq_table

temperature  0  1
Play
Don't Play   0  5
Play         1  8

In [34]:
V = len(freq_table.columns.tolist())
K = len(freq_table.index.tolist())
E_new = 0
for i in range(0,K):
    Nj = freq_table.iloc[:,i].sum()
    E_new += (Nj/N)*np.log2(Nj)
    for j in range(0,V):
        f_i_j =freq_table.iloc[i][j]
        if f_i_j==0:
            E_new =E_new
        else:
            E_new += (-(f_i_j/N)*np.log2(f_i_j))

In [35]:
E_new

0.8925768472426705

In [57]:
len(df.index.tolist())

14

In [63]:

for j in range(1,len(df.index.tolist())):
    print(j)
    
    df = data[['temperature','Play']].copy()
    
    df = df.sort_values(by=['temperature']).reset_index(drop=True)
    print(df['temperature'][j],":")
    df['temperature'] = df['temperature'].map(lambda  x : 1 if x<df['temperature'][j] else 0)
    i=0
    for attribute in df.columns.tolist()[:-1]:
        if i==0:
            freq_table=pd.crosstab(index=df["Play"],columns=df[attribute])
        else:
            freq_table_ = pd.crosstab(index=df["Play"],columns=df[attribute])
            freq_table = pd.concat([freq_table,freq_table_],axis=1) 
        i+=1
    V = len(freq_table.columns.tolist())
    K = len(freq_table.index.tolist())
    E_new = 0
    for k in range(0,K):
        Nj = freq_table.iloc[:,k].sum()
        E_new += (Nj/N)*np.log2(Nj)
        for v in range(0,V):
            f_i_j =freq_table.iloc[k][v]
            if f_i_j==0:
                E_new =E_new
            else:
                E_new += (-(f_i_j/N)*np.log2(f_i_j))
    print(E_new)

1
65 :
0.8925768472426705
2
68 :
0.9299678577609904
3
69 :
0.9397964894836079
4
70 :
0.9253298887416583
5
71 :
0.8949517866414862
6
72 :
0.9389462162661897
7
72 :
0.9389462162661897
8
75 :
0.9389462162661898
9
75 :
0.9389462162661898
10
80 :
0.9152077851647802
11
81 :
0.9397964894836079
12
83 :
0.9299678577609909
13
85 :
0.8268850944895281